body {
    font-family: 'Copperplate';
    background-color: #29434e;
    background-size: 30%;
}

main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: 20px;
    color: white;
    background-color: #546e7a;
    border: 3px solid grey;
    border-radius: 30px;
}

textarea {
    min-height: 30px;
    max-height: 200px;
    width: 100%;
    resize: vertical;
}

button {
    padding: 5px;
    border: 0;
    background-color: #29434e;
    cursor: pointer;
    font-size: 18px;
    width: 50%;
    color: DarkKhaki;
    float: left;
}

button:disabled {
    background-color: #819ca9;
    color: lightgray;
    cursor: default;
}

table:first-of-type {
    margin: auto;
}

h1 {
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    margin: 0 0 10px 0;
}

textarea, input {
    background-color: darkslategray;
    color: DarkKhaki;
}
#stats table {
    border-collapse: collapse;
    border: 3px solid black;
    text-align: center;
    background-color: #484848;
    color: white;
 }

 #stats td, th {
    color: #babdbe;
    padding: 5px;
    border: 3px solid black;
 }

 #stats th {
     color: lime;
 }

 a { 
     color: aqua;
 }